@use "./Theme.scss" as *;

.gameplay {
    display: flex;
    justify-content: center;
    align-items: center;
    .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 5rem;
        font-size: 5rem;
    }
    .feed {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 11;
        padding: none;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-width: 0;
        }
    }
    .interface {
        position: absolute;
        z-index: 21;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        .top {
            position: relative;
            padding-top: $spacing-3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 40;
            .timer {
                font-family: $heading;
                font-size: 2em;
                margin: none;
                background-color: rgba(0, 0, 0, 0.734);
                border-radius: $radius;
                border-width: 0;
                padding: $spacing-3;
                padding-top: 0;
                padding-bottom: 0;

                p {
                    font: inherit;
                }
            }

            .skip {
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
                background-image: linear-gradient(
                    to bottom,
                    #000000d9,
                    #00000000
                );
                left: 0;
                right: 0;
                top: 0;
                min-height: 30%;
                padding: $spacing-1;
                padding-bottom: 10%;
                div {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: center;
                    gap: 100%;
                }
                p {
                    font-size: inherit;
                    text-wrap: wrap;
                }
                button {
                    font-size: inherit;
                    border-width: 0;
                    background: none;
                    padding: 0;
                }
            }
        }
        .side {
            position: absolute;
            right: 0;
            bottom: 0;
            top: 0;
            width: min(40rem, calc(100% - 2 * $spacing-3));
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-start;
            align-items: flex-end;
            .map-widget {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: $spacing-3;
                border-width: 0;
                background: none;
                .map {
                    position: relative;
                    width: 100%;
                    height: min(20rem, 50vh);
                    border-radius: inherit;
                    z-index: 31;
                }

                .controls {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    gap: $spacing-3;
                    z-index: 33;
                    margin-top: max(calc(-1 * $spacing-3), calc(-1 * 5vh));

                    .pushbutton {
                        padding-left: min($spacing-1, 5vw);
                        padding-right: min($spacing-1, 5vw);
                        padding-top: min($spacing-3, 5vw);
                        padding-bottom: min($spacing-3, 5vw);
                    }
                }
            }
        }
    }
}
