@use "./Theme.scss" as *;

.guide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $spacing-1;
    overflow-x: none;
    overflow-y: none;
    position: absolute;
    background: none;
    gap: $spacing-2;
    h2 {
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
    }

    @media (max-width: 800px) {
        h2 {
            font-size: 2rem;
        }

        p {
            font-size: 1rem;
        }
    }

    button {
        position: relative;
    }

    .clock-container {
        margin-top: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.45rem;
        p {
            font-style: italic;
        }
    }
}
