@use "./Theme.scss" as *;

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $spacing-1;
    overflow-x: none;
    overflow-y: none;
    position: absolute;
    background: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    .background {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        opacity: 0;
    }
    .widget {
        z-index: 2;
        padding: $spacing-2;
        gap: $spacing-3;
    }
    .title {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1em;
        filter: drop-shadow(0 0 10px black);

        div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            flex-wrap: nowrap;
        }

        .leaf {
            height: 0.9em;
        }
        h1 {
            color: $red-1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: nowrap;
            text-wrap: nowrap;
            font-size: min(3rem, 6vw);
        }
        h1.white {
            color: #ffffff;
        }
    }
    p {
        position: relative;
        margin-top: -1.5%;
        margin-bottom: 5%;
        z-index: 2;
        font-weight: bold;
        filter: drop-shadow(0 0 5px black);
    }
    button {
        z-index: 2;
        position: relative;
        background-image: $background-3;
        border-color: $border-1;
        padding: $spacing-3;
        padding-left: $spacing-1;
        padding-right: $spacing-1;
        font-size: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
